#pmlogconf 2.0
#
## disable default metrics
log mandatory off {
    kernel.all.load
    disk.dev.read
    network.interface.out.drops
}

## hinv
log mandatory on once {
    hinv
}

## utilization (usr, sys, idle, ...) over all CPUs
log advisory on default {
	kernel.all.cpu
}
